@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ROOT */

:root {
    --pri_color: #00a8e8;
    --pri_hov_color: #007EA7;
    --pri_light_color: #e1f7ff;
    --pri_pill_color: #dee3e5;
    
    --ter_color: white;
    --accent_color: blue;

    --border_color: #dadada;
    --text_color: #363636;

    --pri_font: "Figtree", Arial, Helvetica, sans-serif;
    --sec_font: "Lato", Arial, Helvetica, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--pri_font);
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

html, body, p, a, span, div, li, td, th, input, button, select, textarea, label {
    font-family: var(--sec_font);
    margin: 0;
}

p {
    color: var(--text_color);
}

body {
    margin: 0;
    padding: 0;
}


/* NAVIGATION */

.navigation_section {
    margin: 0;
    padding: 15px 0;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid var(--border_color);
    position: fixed;
    top: 0;
    z-index: 100;
}

.navigation_content {
    display: flex;
    margin: auto;
    width: 1080px;
}

.navigation_left {
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navigation_right {
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    flex-direction: row-reverse;
}

.menu_link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transform: 150ms;
    font-size: 14px;
}

.menu_link:hover {
    color: var(--pri_hov_color);
}

.menu_logo {
    font-family: var(--pri_font);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.primary_button {
    background-color: var(--pri_color);
    color: white;
    border-radius: 7px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border: none;
    display: inline-block;
}

.primary_button:hover {
    background-color: var(--pri_hov_color);
    cursor: pointer;
    transition: 150ms;
}

.secondary_button {
    background-color: white;
    color: var(--pri_color);
    border: 1px solid var(--pri_color);
    border-radius: 7px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.secondary_button:hover {
    cursor: pointer;
    border: 1px solid var(--pri_hov_color);
    color: var(--pri_hov_color);
    transition: 150ms;
}

.tertiary_button {
    color: var(--pri_color);
}

.website_content {
    margin-top: 200px;
    margin-bottom: 120px;
}



/* FOOTER */

.footer_section {
    background-color: var(--pri_color);
    padding: 60px 0;
    color: white;
}

.footer_content {
    margin: auto;
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer_content p {
    color: white;
}

.footer_content h4 {
    margin-bottom: 15px;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.copyright_text {
    margin-top: 7px;
}



/* INDEX.PHP */

.hero_section {
    background-color: var(--pri_light_color);
    margin-top: -120px;
    padding: 120px 0px 120px 0;
    margin-bottom: 120px;
}

.search_container {
    display: flex;
    gap: 15px;
}

.custom_select {
    padding: 15px 30px 15px 30px;
    border-radius: 7px;
    border: 1px solid var(--border_color);
    font-weight: bold;
    background-color: white;
    font-size: 14px;
}

.custom_select:hover {
    cursor: pointer;
    background-color: #fbfbfb;
}

.headline_pill {
    font-size: 14px;
    background-color: var(--pri_pill_color);
    border-radius: 3px;
    padding: 3px 7px;
    display: inline-block;
    font-family: var(--pri_font);
}

.section_content {
    margin: auto;
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.table_section {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table_section td, th {
    padding: 15px;
    font-size: 16px;
}

.table_section tr {
    border-bottom: 1px solid var(--border_color);
}

.table_section td {
    color: var(--text_color);
}

.item_box {
    border: 1px solid var(--border_color);
    padding: 30px;
    border-radius: 7px;
}

.item_box img {
    border-radius: 3px;
}

.item_box p {
    margin: 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.grid_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.car_link {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.car_link:hover .car_preview_thumbnail {
    transform: scale(1.05);
    transition: 150ms;
}

.image_boundary {
    overflow: hidden;
    border-radius: 7px 7px 0px 0px;
}

.car_preview_thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
    transition: transform 150ms;
    display: block;
}

.car_details h4,
.car_details h3,
.car_details p {
    padding: 0;
    margin: 0;
}

.car_details h4 {
    margin-top: 7px;
    margin-bottom: 3px;
}

.car_details {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--border_color);
    border-radius: 0px 0px 7px 7px;
    padding: 30px;
}


/* DETAIL.PHP */
.heading_container h1 {
    margin-top: 15px;
    margin-bottom: 7px;
}

.content_container h2 {
    margin: 0;
    margin-bottom: 15px;
}

/* IMAGES */
.item_thumbnail {
    width: 100%;
    border-radius: 7px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}