/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* ROOT */

:root {
    --pri_color: #679436;
    --pri_hov_color: #558027;

    --sec_color: #427AA1;
    --sec_hov_color: #234a66;
    --sec_light_color: #b3d7e6;

    --error_color: #d32f2f;
    --error_bg_color: #fdecea;
    --success_color: #388e3c;
    --success_bg_color: #e8f5e9;

    --ter_color: white;
    --accent_color: blue;
    --background_color: #f6f8f9;
    --hero_backgrond_color: #d5dbcf;

    --border_color: #dadada;
    --text_color: #363636;

    --pri_font: "Figtree", Arial, Helvetica, sans-serif;
    --sec_font: "Lato", Arial, Helvetica, sans-serif;
}




/* TEXT */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--pri_font);
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

small {
    font-size: 13px;
}

html, body, p, a, span, div, li, td, th, input, button, select, textarea, label {
    font-family: var(--sec_font);
    margin: 0;
}

p, small {
    color: var(--text_color);
}




/* Buttons and Links */

.primary_button {
    background-color: var(--pri_color);
    color: white;
    border-radius: 4px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border: none;
    gap: 7px;
    display: inline-flex;
    align-items: center;
}

.primary_button:hover {
    background-color: var(--pri_hov_color);
    cursor: pointer;
    transition: 150ms;
}

.secondary_button {
    background-color: white;
    color: var(--pri_color);
    border: 1px solid var(--pri_color);
    border-radius: 4px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    gap: 7px;
    display: inline-flex;
    align-items: center;
}

.secondary_button:hover {
    cursor: pointer;
    border: 1px solid var(--pri_hov_color);
    color: var(--pri_hov_color);
    transition: 150ms;
}

.tertiary_button {
    color: var(--pri_color);
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    text-decoration: none;
    gap: 7px;
    display: inline-flex;
    align-items: center;
}

.tertiary_button:hover {
    color: var(--pri_hov_color);
    transition: 150ms;
}

.link {
    font-family: var(--sec_font);
    color: var(--sec_color);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.link:hover {
    color: var(--sec_hov_color);
    transform: 150ms;
}




/* GLOBAL */

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9f7;
}


/* Website framework */

.website_content {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.hero_container {
    background-color: var(--hero_backgrond_color);
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 7px;
    align-items: center;
}

.section_content {
    margin: auto;
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section_content_small {
    margin: auto;
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.split_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left_split {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.right_split {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* Table */
.item_box_table {
    border: 1px solid var(--border_color);
    border-radius: 7px;
}

.table_section {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table_section td, th {
    padding: 15px;
    font-size: 16px;
    word-wrap: break-word;
}

th {
    font-family: var(--pri_font);
}

.table_section tr {
    border-bottom: 1px solid var(--border_color);
}

/* .table_section tbody tr:last-child {
    border-bottom: none;
} */

.table_section td {
    color: var(--text_color);
}


/* Element grouping section */

.item_box {
    background-color: white;
    /* border: 1px solid var(--border_color); */
    padding: 30px;
    border-radius: 7px;
}

.item_box h2 {
    margin: 0;
    margin-bottom: 30px;
}

.item_box img {
    border-radius: 7px;
}

.item_box p {
    margin: 0;
}

/* Form */

.item_box_form {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item_box_form_small {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item_box_form_single {
    gap: 15px;
    display: flex;
    flex-direction: column;
}




/* NAVIGATION */

.navigation_section {
    margin: 0;
    padding: 15px 0;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid var(--border_color);
    /* position: fixed;
    top: 0;
    z-index: 100; */
}

.navigation_content {
    display: flex;
    margin: auto;
    width: 1080px;
}

.navigation_left {
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navigation_right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 7px;
}

.menu_link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    position: relative;
}

.menu_link:hover {
    transition: 150ms;
    color: var(--pri_hov_color);
}

.menu_logo {
    font-family: var(--pri_font);
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}


/* Breadcrumb */

.breadcrumb_menu {
    display: flex;
    margin-bottom: 7px;
}

.breadcrumb_menu p, .breadcrumb_menu a {
    font-size: 13px;
}

.breadcrumb_menu > *:not(:first-child)::before {
    text-decoration: none;
    display: inline-block;
    content: '/';
    margin: 0 7px;
    color: var(--text_color);
}




/* HOME PAGE (CAR INVENTORY) */

.heading_container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.search_container {
    display: flex;
    gap: 7px;
}

.headline_pill {
    font-size: 14px;
    /* background-color: var(--pri_pill_color); */
    /* border-radius: 4px; */
    /* padding: 3px 7px; */
    display: inline-block;
    font-family: var(--pri_font);
    font-weight: 600;
    color: black;
}

.pill_group {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: left;
}

.grid_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: stretch;
}

.car_link {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    background-color: white;
    /* border: 1px solid var(--border_color); */
    gap: 15px;
    border-radius: 7px;
}

.car_link:hover .car_preview_thumbnail {
    transform: scale(1.05);
    transition: 150ms;
}
.car_link:hover h4 {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--sec_color);
}

.image_boundary {
    overflow: hidden;
    border-radius: 7px;
}

.car_preview_thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: transform 150ms;
    display: block;
}

.car_details h4,
.car_details h3,
.car_details p {
    padding: 0;
    margin: 0;
}

.car_details h4 {
    margin-top: 7px;
    margin-bottom: 3px;
    position: relative;
    display: inline-block;
}


.car_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
    /* padding: 30px; */
}



/* CAR DETAILS PAGE */

.content_container h2 {
    margin: 0;
    margin-bottom: 15px;
}

.car_banner {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--hero_backgrond_color);
}

.car_banner h2 {
    margin-bottom: 7px;
}

.car_banner p {
    margin-bottom: 30px;
}

/* IMAGES */
.item_thumbnail {
    border-radius: 7px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: inline;
}




/* FORM FIELDS */

/* Form container */

.form_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form_box {
    display: flex;
    gap: 7px;
    flex-direction: column;
}

.form_box_options {
    align-items: flex-start;
}

.description_box {
    display: flex;
    align-items: normal;
}

.description_text {
    min-height: 100px;
    resize: vertical;
}

.form_buttons {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

/* Text input */

.text_field {
    padding: 15px;
    font-size: 14px;
    border: 1px solid var(--border_color);
    border-radius: 4px;
}

.text_field:focus-visible, .drop_down:focus-visible {
    outline: 2px solid var(--sec_color);
}

/* Drop down options */

.drop_down {
    padding: 15px 45px 15px 15px;
    border-radius: 4px;
    border: 1px solid var(--border_color);
    font-size: 14px;
}

.drop_down {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill=\"black\" height=\"16\" viewBox=\"0 0 24 24\" width=\"16\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M7 10l5 5 5-5z\"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px 16px;
    background-color: white;
}

.drop_down:hover {
    cursor: pointer;
}

.form_box .drop_down {
    width: 100%;
}

/* Upload Image */

.image_box {
    align-items: normal;
}

.image_button {
    border: 1px dashed var(--border_color);
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text_color);
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.image_display {
    display: flex;
    border: 1px solid var(--border_color);
    padding: 15px;
    border-radius: 4px;
    align-items: center;
    gap: 15px;
}

.image_display img {
    width: 25%;
    display: block;
    border-radius: 4px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.image_display span {
    width: 75%;
    font-size: 14px;
}

.image_button {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.image_button p {
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.image_button small {
    color: black;
}

.image_button:hover {
    border-color: var(--pri_color);
    transition: 150ms;
}

.image_button:hover small, .image_button:hover p {
    color: var(--pri_color);
    transition: 150ms;
}

.image_button input[type="file"] {
    display: none;
}




/* Form error message */

.error_container {
    padding: 15px;
    border-radius: 7px;
    display: flex;
    gap: 7px;
    color: var(--error_color);
    font-weight: 600;
    font-family: var(--pri_font);
    background-color: var(--error_bg_color);
}

.inline_error {
    display: flex;
    gap: 4px;
    color: var(--error_color);
    font-size: 13px;
}

.error {
    border: 1px solid var(--error_color);
    border-radius: 4px;
}

.error_image {
    border: 1px dashed var(--error_color);
    padding: 15px;
    border-radius: 4px;
}





/* FOOTER */

.footer_section {
    background-color: #1e1e1c;
    padding: 60px 0;
}

.footer_content {
    margin: auto;
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer_content h4 {
    margin-bottom: 15px;
}

.footer_content h4, .footer_content p, .footer_content small {
    color: white;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer_links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--sec_font);
}

.footer_links a:hover {
    color: var(--sec_color);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--sec_color);
    text-decoration-thickness: 2px;
}

.footer_disclaimer {
    border-top: 1px solid var(--border_color);
    padding-top: 7px;
}

.copyright_text {
    margin-top: 7px;
}