/* STAFF DASHBOARD PAGE */

.admin_banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.admin_box {
    padding: 30px;
    border-radius: 7px;
    border: 1px solid var(--border_color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.admin_box h3 {
    margin-bottom: 7px;
}

.admin_box p {
    margin-bottom: 15px;
}

.split_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.split_corner {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}