/* NAVIGATION */

.banner_message {
    background-color: var(--pri_color);
    color: white;
}

.banner_message h4 {
    margin: 15px 0;
    padding: 0;
}

.banner_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STAFF DASHBOARD PAGE */

.admin_banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.admin_box {
    padding: 30px;
    border-radius: 7px;
    background-color: white;
    /* border: 1px solid var(--border_color); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.admin_box h3 {
    margin-bottom: 7px;
}

.admin_box p {
    margin-bottom: 15px;
}


/* Message Notification */
.message {
    padding: 15px;
    border-radius: 7px;
    display: flex;
    gap: 7px;
    color: var(--success_color);
    font-weight: 600;
    font-family: var(--sec_font);
    background-color: var(--success_bg_color);
}




/* PAGINATION */

.pagination_container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
    justify-content: flex-end;
}

.pagination_left {
    width: 25%;
    display: flex;
    justify-content: flex-start;
}

.pagination_right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.pagination_center {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.pagination_link {
    color: var(--pri_color);
    font-size: 14px;
    text-decoration: none;
    display: inline-flex;
    font-weight: 600;
}

.pagination_link:hover {
    color: var(--pri_hov_color);
    transition: 150ms;
}

.current_page {
    background-color: var(--pri_color);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.current_page:hover {
    color: white;
    background-color: var(--pri_hov_color);
}

.pagination_disabled {
    opacity: 0.25;
    pointer-events: none;
}


/* NAVIGATION */
.staff_menu_links {
    display: flex;
    gap: 30px;
}


@media screen and (max-width: 1160px) {
    /* NAVIGATION */
    .navigation_left {
        width: 100%;
        justify-content: space-between;
    }
    .navigation_right {
        display: flex;
    }
    .navigation_right .tertiary_button {
        display: none;
    }
    .staff_menu_links {
        display: none;
    }

    /* MAIN CONTENT */
    .item_box {
        overflow: auto;
    }

}

@media screen and (max-width: 750px) {
    /* MAIN CONTENT */
    .admin_banner {
        grid-template-columns: repeat(1, 1fr);
    }
    .item_box_form {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 480px) {

    .split_container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .right_split {
        justify-content: flex-start;
    }

    .item_box_form {
        grid-template-columns: repeat(1, 1fr);
    }

    .image_display {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .image_display img {
        width: 100%;
    }

    .image_display span {
        width: 100%;
    }

    .item_box_form_small {
        grid-template-columns: repeat(1, 1fr);
    }
    
}